html{
    width: 1000px;
    margin: 0;
}

body{
    width: 1000px;
    border:1px solid #000000;
}


header{
    height: 100px;
}
.name{
     height: 100px; border-bottom: solid;
 }
.name h1 {
    padding: 10px;
}
.link{
    padding-top: 10px;
    height:80px;
    border-bottom: 1px solid #000000;

}

main{
    border-bottom: solid;
    padding: 10px;
}
.container {
    height:600px;
}
p{
    padding-left: 10px;
    height:500px;
}
.foot h3 {
    height:50px;
    text-align: center;
    border-top:solid;
    padding-top: 10px;

}